.Trash
Pictures
Music
Public
Library
Downloads
Documents
Desktop
Movies
code
tmp
.DS_Store
.rvm
.gem
.local
.rnd
.vim-fuf-data
.viminfo
.CFUserTextEncoding
.account
.cups
.ssh/*.pem
.zsh_history
.zcompdump
