.Trash
Pictures
Music
Public
Library
Downloads
Documents
Desktop
Applications
Movies
code
tmp
.DS_Store
.rvm
.gem
.local
.rnd
.vim-fuf-data
.viminfo
.CFUserTextEncoding
.account
.cups
.ssh/*.pem
.zsh_history
.zcompdump
.NERDTreeBookmarks
.irb-history
.lesshst
.rdebug_hist
.ssh
.ec2
.chef
.vim
.vagrant.d
.oh-my-zsh
.bzr.log
.m2
.fog
.zsh-update
.pip
.python-eggs
.mitmproxy
.config
.boot2docker
.swt
.berkshelf
.cache
.atom
.nexus_cli
VirtualBox\ VMs
